<!-- <a-emotion-pictures with-border with-triangle namespace="emotion-pictures-corporate-">
    <a-picture picture-load defaultSource="../../../../img/emotion-pictures/emotion_corporate.jpg"
        alt="randomized image"></a-picture>
</a-emotion-pictures>
<div class="spacer"></div>
<div>
    <p>Beim Vorzeigen der Senioren-Vorteilskarte profitieren Sie das ganze Jahr 2025 von zahlreichen Partnerangeboten,
        welche
        unten aufgeführt sind. Zudem erhalten Sie mit dem abonnierten Senioren-Newsletter monatlich eine spannende
        Kolumne mit
        Tipps und weitere attraktive Partnerangebote und Vergünstigungen.</p>
    <p>Das Einkaufscenter ist mit allen Verkehrsmitteln gut erreichbar – mit einer Bushaltestelle direkt vor dem Center
        und in einer Minute ab der Autobahnausfahrt. Parkplätze stehen zur Verfügung.</p>
    <p>Melden Sie sich also gleich für beides an – für die Senioren-Vorteilskarte und den Senioren-Newsletter. Seit
        April werden diese Module in Schränken von der Grösse eines kleinen Kühlschranks mit einer Speicherkapazität von
        10
        kWh verpackt und im Zentralwallis von dem Händler Oiken zum Preis von 3500 Franken an <a href="">Privathaushalte
            verkauft</a>. Dazu
        kommt ein Monatsabo von 40 Franken für die Wartung. Ein neues Speichermodul würde jedoch 6000 bis 8000 Franken
        kosten.
        Das Ziel des noch jungen Start-ups ist es, bis zum Jahresende sein Angebot auf die ganze Westschweiz und bis
        2026 auf
        die übrige Schweiz auszuweiten.
    </p>
</div>
<div class="spacer"></div> -->
<gastro-a-iframe>
    <template>
        <iframe width="40" height="820" 
            src="../../../../es/components/pages/temp/gastro/map-de.html" frameborder="0" allowfullscreen allow="vr"></iframe>
    </template>
</gastro-a-iframe>
<div class="spacer"></div>
<div>
    <p>Beim Vorzeigen der Senioren-Vorteilskarte profitieren Sie das ganze Jahr 2025 von zahlreichen Partnerangeboten,
        welche
        unten aufgeführt sind. Zudem erhalten Sie mit dem abonnierten Senioren-Newsletter monatlich eine spannende
        Kolumne mit
        Tipps und weitere attraktive Partnerangebote und Vergünstigungen.</p>
    <p>Das Einkaufscenter ist mit allen Verkehrsmitteln gut erreichbar – mit einer Bushaltestelle direkt vor dem Center
        und in einer Minute ab der Autobahnausfahrt. Parkplätze stehen zur Verfügung.</p>
    <p>Melden Sie sich also gleich für beides an – für die Senioren-Vorteilskarte und den Senioren-Newsletter. Seit
        April werden diese Module in Schränken von der Grösse eines kleinen Kühlschranks mit einer Speicherkapazität von
        10
        kWh verpackt und im Zentralwallis von dem Händler Oiken zum Preis von 3500 Franken an <a href="">Privathaushalte
            verkauft</a>. Dazu
        kommt ein Monatsabo von 40 Franken für die Wartung. Ein neues Speichermodul würde jedoch 6000 bis 8000 Franken
        kosten.
        Das Ziel des noch jungen Start-ups ist es, bis zum Jahresende sein Angebot auf die ganze Westschweiz und bis
        2026 auf
        die übrige Schweiz auszuweiten.
    </p>
</div>