:host {
    --any-display: flex;
    flex-direction: column;
    gap: 1rem;

    --poll-default-submit-background-color: var(--poll-default-submit-background-color-custom, #c4390a);
    --poll-default-submit-border-color: var(--poll-default-submit-border-color-custom, var(--poll-default-submit-background-color, #c4390a));
    --poll-default-submit-border-radius: var(--poll-default-submit-border-radius-custom, 3rem);
    --poll-default-submit-font-size: var(--poll-default-submit-font-size-custom, 1rem);

    --poll-default-ul-display: var(--poll-default-ul-display-custom, flex);
    --poll-default-ul-padding-left: var(--poll-default-ul-padding-left-custom, 0rem);

    --poll-default-answers-padding: var(--poll-default-answers-padding-custom, 0rem);
    --poll-default-answers-gap: var(--poll-default-answers-gap-custom, 1rem);

    --poll-default-ul-li-padding-left: var(--poll-default-ul-li-padding-left-custom, 1rem);

    --poll-default-h2-margin: var(--poll-default-h2-margin-custom, 0rem);
    --poll-default-h3-margin: var(--poll-default-h3-margin-custom, 0rem);
    --poll-default-h2-font-size: var(--poll-default-h2-font-size-custom, 2rem);
    --poll-default-h3-font-size: var(--poll-default-h3-font-size-custom, 1.5rem);

    --poll-default-answer-background-color: var(--poll-default-answer-background-color-custom, #f5f5f5);
    --poll-default-answer-border-radius: var(--poll-default-answer-border-radius-custom, 0.4rem);
    --poll-default-result-hover-background-color: var(--poll-default-result-hover-background-color-custom, #DDDDDD);
    --poll-default-highlight-background-color: var(--poll-default-highlight-background-color-custom, #DDDDDD);

    --poll-default-error-message-color: var(--poll-default-error-message-color-custom, red);

    --poll-default-progress-bar-background-color: var(--poll-default-percentage-bar-background-color-custom, #F2B700);

    --poll-default-radio-background-color: var(--poll-default-highlighted-color-custom, #DDDDDD);
    --poll-default-radio-border-color: var(--poll-default-highlighted-color-custom, #DDDDDD);
    --poll-default-radio-checked-background-color: var(--color-tertiary, #9B2700);
    --poll-default-radio-unchecked-background-color: var(--color-tertiary, #9B2700);


}